[package]
name = "mustang-examples"
version = "0.2.0"
authors = [
    "Dan Gohman <dev@sunfishcode.online>",
]
description = "Rust programs written entirely in Rust"
documentation = "https://docs.rs/mustang"
license = "Apache-2.0 WITH LLVM-exception OR Apache-2.0 OR MIT"
repository = "https://github.com/sunfishcode/mustang"
edition = "2018"
exclude = ["/.github"]
publish = false

[dev-dependencies]
origin = { path = "origin", default-features = false, version = "^0.2.1-alpha.0"}
mustang = { path = "mustang", default-features = false, version = "^0.2.0"}
c-scape = { path = "c-scape", default-features = false, version = "^0.2.1-alpha.0"}
similar-asserts = "1.1.0"
rand = "0.8.4"

# Test that the ctor crate works under mustang.
ctor = "0.1.21"

# Test that the core_simd crate works under mustang.
# TODO: Re-enable this when core_simd works on Rust nightly.
#core_simd = { git = "https://github.com/rust-lang/portable-simd" }

[features]
default = ["threads"]
threads = ["origin/threads", "mustang/threads"]
env_logger = ["origin/env_logger"]
max_level_off = ["origin/max_level_off"]

# Enable the cc dependency to build assembly-code libraries from .s sources
# instead of using the prebuilt libraries.
cc = ["mustang/cc", "c-scape/cc"]

[workspace]
members = [
  "mustang",
  "origin",
  "c-scape",
]
