[package]
name = "mustang-examples"
version = "0.6.1"
authors = [
    "Dan Gohman <dev@sunfishcode.online>",
]
description = "Rust programs written entirely in Rust"
documentation = "https://docs.rs/mustang"
license = "Apache-2.0 WITH LLVM-exception OR Apache-2.0 OR MIT"
repository = "https://github.com/sunfishcode/mustang"
edition = "2021"
exclude = ["/.github"]
publish = false

[dev-dependencies]
mustang = { path = "mustang", version = "^0.6.1" }
c-scape = { path = "c-scape", version = "^0.6.1" }
c-gull = { path = "c-gull", version = "^0.6.1" }
similar-asserts = "1.1.0"
rand = "0.8.4"
libc = "0.2.138"

# Test that the ctor crate works under mustang.
ctor = "0.1.21"

# Test that the core_simd crate works under mustang.
# TODO: Re-enable this when core_simd works on Rust nightly.
#core_simd = { git = "https://github.com/rust-lang/portable-simd" }

[features]
default = ["threads"]
threads = ["mustang/threads"]
env_logger = ["mustang/env_logger"]
log = ["mustang/log"]
max_level_off = ["mustang/max_level_off"]

# Enable the cc dependency to build assembly-code libraries from .s sources
# instead of using the prebuilt libraries.
cc = ["mustang/cc", "c-scape/cc"]

[workspace]
members = [
  "mustang",
  "origin",
  "c-scape",
  "c-gull",
]
