[package]
name = "mustang"
version = "0.0.0"
authors = [
    "Dan Gohman <dev@sunfishcode.online>",
]
description = "Rust programs written entirely in Rust"
documentation = "https://docs.rs/mustang"
license = "Apache-2.0 WITH LLVM-exception OR Apache-2.0 OR MIT"
repository = "https://github.com/sunfishcode/mustang"
edition = "2018"

[dependencies]
c-scape = { path = "../c-scape" }
origin = { path = "../origin" }

[features]
# Off by default; enable this to initialize the C runtime, so that C libraries
# can be called. See [here] for details.
# [here]: https://github.com/sunfishcode/mustang/blob/main/README.md#the-c-runtime
initialize-c-runtime = ["origin/initialize-c-runtime"]
