[package]
name = "mustang"
version = "0.0.0"
authors = [
    "Dan Gohman <dev@sunfishcode.online>",
]
description = "Rust programs written entirely in Rust"
documentation = "https://docs.rs/mustang"
license = "Apache-2.0 WITH LLVM-exception OR Apache-2.0 OR MIT"
repository = "https://github.com/sunfishcode/mustang"
edition = "2018"

[dependencies]
# A general-purpose `global_allocator` implementation.
dlmalloc = { version = "0.2", features = ["global"], optional = true }
# A small `global_allocator` implementation.
wee_alloc = { version = "0.4", optional = true }

# Enable "libc" and don't depend on "spin".
# TODO: Eventually, we should propose a `fde-phdr-rsix` backend option to
# upstream `unwinding` so that it doesn't need to go through `dl_iterate_phdr`,
# but `fde-phdr-dl` works for now.
[target.'cfg(not(target_arch = "arm"))'.dependencies.unwinding]
git = "https://github.com/nbdd0121/unwinding"
default-features = false
features = [
    "unwinder",
    "dwarf-expr",
    "hide-trace",
    "fde-phdr-dl",
    "fde-registry",
    "libc",
]

# Patch gimli as upstream unwinding does for now:
# https://github.com/nbdd0121/unwinding/blob/trunk/Cargo.toml#L15
[patch.crates-io]
gimli = { git = "https://github.com/gimli-rs/gimli.git" }

[target.'cfg(target_vendor = "mustang")'.dependencies]
origin = { path = "../origin", default-features = false }
c-scape = { path = "../c-scape" }

[features]
default = ["default-alloc", "threads"]
default-alloc = ["dlmalloc"]
threads = ["origin/threads", "c-scape/threads"]
