[package]
name = "c-scape"
version = "0.0.0"
authors = [
    "Dan Gohman <dev@sunfishcode.online>",
]
description = "libc-like ABI wrapper around rsix"
documentation = "https://docs.rs/c-scape"
license = "Apache-2.0 WITH LLVM-exception OR Apache-2.0 OR MIT"
repository = "https://github.com/sunfishcode/mustang"
edition = "2018"

[dependencies]
once_cell = "1.8.0"
smallvec = "1.6.1"
libm = "0.2.1"
rsix = "0.22.4"
memoffset = "0.6"
realpath-ext = "0.1.0"
compiler_builtins = { version = "0.1.50", features = ["mem", "mangled-names"] }
memchr = "2.4.1"

# A minimal `global_allocator` implementation.
wee_alloc = "0.4.5"

# When requested, check against libc signatures.
[target.'cfg(mustang_use_libc)'.dependencies]
libc = "0.2.99"

[dev-dependencies]
libc = "0.2.99"
static_assertions = "1.1.0"
paste = "1.0.5"
