[package]
name = "c-scape"
version = "0.1.1-alpha.0"
authors = [
    "Dan Gohman <dev@sunfishcode.online>",
]
description = "libc-like ABI wrapper"
documentation = "https://docs.rs/c-scape"
license = "Apache-2.0 WITH LLVM-exception OR Apache-2.0 OR MIT"
repository = "https://github.com/sunfishcode/mustang"
edition = "2018"

[dependencies]
once_cell = "1.8.0"
libm = "0.2.1"
rustix = "0.26.1"
memoffset = "0.6"
realpath-ext = "0.1.0"
compiler_builtins = { version = "0.1.50", features = ["mem", "mangled-names"] }
memchr = "2.4.1"
sync-resolve = "0.3.0"
origin = { path = "../origin", default-features = false, version = "^0.2.0"}
parking_lot = "0.11.2"
log = "0.4.14"

# When requested, check against libc signatures.
[target.'cfg(mustang_use_libc)'.dependencies]
libc = "0.2.99"

[build-dependencies]
# Enable the cc dependency to build aarch64_outline_atomics from source
# instead of using the prebuilt libraries.
cc = { version = "1.0.68", optional = true }

[dev-dependencies]
libc = "0.2.99"
static_assertions = "1.1.0"
paste = "1.0.5"

[features]
default = ["threads"]
threads = ["origin/threads"]
